.comparison-container {
    display: flex;
    margin:0 auto;
}

.first-city, .second-city {
    height: 100vh;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

 .first-city > .city-display, .second-city > .city-display {
    width: 100%;
}

 .first-city > .categories, .second-city > .categories {
    padding: 3rem 3rem;
}


.compare-mobile {
    display: none;
}

@media (max-width: 699px) {
    .compare-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #7D8F9C;
        color: white;
    }
    .compare-desktop {
        display: none;
    }
}