.background {
    background-color: #314773;
    display: flex;
    justify-content: center;
}

.background > .mobile-only {
    display: none;
}

@media (min-width: 768px) {
    .background {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .background > img {
        height: 30rem;
    }
}

@media (max-width: 649px) {
    .background {
        flex-direction: column;
        align-items: center;
    }

    .background > .mobile-only {
        display: block;
        color: white;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .background > img {
        height: 20rem;
        width: 100%;
    }
}