.name-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    height: auto;
    width: 100%;
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.name-list > p {
    margin-right: 0rem;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: #4F7591;
}

.city-option {
    cursor: pointer;
}

.city-option:hover {
    background-color: #4F7591;
    color: white;
}