.client-panel {
    height: 90vh;
    overflow: scroll;
    padding: 3rem;
    width: 60%;
}

.icon-panel {
    position: fixed;
}

@media screen and (max-width: 425px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 426px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}