.clientPanel {
    padding: 3rem;
    width: 60%;
}

@media screen and (max-width: 425px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 426px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}