.modal {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.modal-city {
    color: white;
    padding: .5rem;
}

.modal-city:hover {
    background-color: rgb(128, 125, 125);
    cursor: pointer;
}

.modal-left > h1 {
    color: white;
    padding: .5rem;
}

.modal-left {
    display: flex;
    flex-direction: column;
}

.options-list {
    color: white;
    height: 35rem;
    overflow-y: scroll;
    width: 15rem;
}


@media (max-width: 699px) {
    .compare-button-container {
        display: none;
    }
}

