body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 650px) {
    body {
        overflow-y: scroll;        
    }
}

h1, h2, h3, p {
    font-family: "Oswald", sans-serif;
}
