.city-page {
    display: flex;
    flex-direction: column;
}

.city-content {
    display: flex;
}

.category-panel {
    height: 80vh;
    width: 50%;
    padding: 3rem;
}

.no-results {
    padding: 3rem;
}

.no-results__options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-results__continent-list {
    height: 38vh;
    overflow-y: auto;
}

@media (max-height: 425px), (max-width: 650px) {
    .category-panel {
        width: auto;
    }

    .city-content {
        display: flex;
        flex-direction: column;
    } 

    .desktop-city-page {
        display: none;
    }
}

@media (min-height: 426px) and (min-width: 651px){

    .mobile-city-page {
        display: none;
    }

    .category-panel {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}