.city-page {
    display: flex;
    flex-direction: column;
}

.city-content {
    display: flex;
}

.category-panel {
    height: 80vh;
    width: 50%;
    padding: 3rem;
}

.no-results {
    padding: 3rem;
}

.no-results > .name-list {
    height: 35vh;
    overflow-y: scroll;
}

@media (max-width: 650px) {

    .category-panel {
        width: auto;
    }

    .city-content {
        display: flex;
        flex-direction: column;
    } 

    .desktop {
        display: none;
    }

}

@media (min-width: 651px) {

    .mobile {
        display: none;
    }

    .category-panel {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}